<h1>Cadastro de Restaurante</h1>

<%= render partial: 'shared/model_errors', locals: { model: @restaurante } %>

<div class="container-fluid">
  <%= form_for @restaurante do |f| %>
    <div class="form-group">
      <%= f.label :name, 'Nome do Restaurante' %>
      <%= f.text_field :name %>
    </div>
    <p>
    <div>
      <%= link_to 'Cancelar', restaurantes_path, class: 'btn btn-danger' %>
      <%= f.submit label_button, class: 'btn btn-success' %>
    </div>
  <% end %>
</div>
