<h1>Cadastro de Prato</h1>

<%= render partial: 'shared/model_errors', locals: { model: @dish } %>

<%= form_for @dish do |f| %>
  <div class=''>
    <%= f.label :restaurante_id, 'Restaurante' %>
    <%= f.collection_select :restaurante_id, @restaurantes, :id, :name %>
  </div>
  <div>
    <%= f.label :name, 'Prato' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :price, 'Preço(R$)' %>
    <%= f.text_field :price %>
  </div>
  <p><%= link_to 'Cancelar', dishes_path %><%= f.submit label_button %> </p>
<% end %>
